@model AlbumProject.Models.Album

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Kitap</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="AlbumTitle" class="control-label">Assay Link</label>
                <input asp-for="AlbumTitle" class="form-control" />
                <span asp-validation-for="AlbumTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AlbumSongCount" class="control-label">Assay Link</label>
                <input asp-for="AlbumSongCount" class="form-control" />
                <span asp-validation-for="AlbumSongCount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AlbumGenre" class="control-label">Assay Link</label>
                <input asp-for="AlbumGenre" class="form-control" />
                <span asp-validation-for="AlbumGenre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AlbumScore" class="control-label">Assay Link</label>
                <input asp-for="AlbumScore" class="form-control" />
                <span asp-validation-for="AlbumScore" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AlbumYear" class="control-label">Assay Link</label>
                <input asp-for="AlbumYear" class="form-control" />
                <span asp-validation-for="AlbumYear" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SingerId" class="control-label">Subject Name</label>
                <select asp-for="SingerId" class="form-control" asp-items="ViewBag.SubjectId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}