@model Singer

<form asp-action="Create" method="post">
    <div>
        <label asp-for="SingerName"></label>
        <input asp-for="SingerName"></input>
    </div>
    <div>
        <label asp-for="SingerLName"></label>
        <input asp-for="SingerLName"></input>
    </div>
    <div>
        <label asp-for="SingerNationality"></label>
        <input asp-for="SingerNationality"></input>
    </div>
    <div>
        <label asp-for="SingerAge"></label>
        <input asp-for="SingerAge"></input>
    </div>
    <input type="submit" valur="Kaydet"></input>
</form>