@model Singer

<form asp-action="Create" method="post">
    <div> 
        <label asp-for="SingerName"></label>
        <input formaction="SingerName" />
    </div>
    <div> 
        <label asp-for="SingerLName"></label>
        <input formaction="SingerLName" />
    </div>
    <input type="submit" value="Kaydet"

</form>

